.sample1{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 70px 0;
  margin: auto;
  align-items: center;
  height: auto;
  margin-left: 30%;
  margin-top: 8%;

}
table,td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.sample3{
  background-color:skyblue;
}
  
  
  .sample2{
    background-color: blanchedalmond;
    align-content: center;
    margin-top: 0%;
  }
  .sample4{
    margin-top:5%;
    background-color: rgb(189, 107, 162);
    margin-left: 2%;
  }
 .sample1{
  margin-top: 0%;
  

 }