    
    <nav class="sample3">
    <div class="container-fluid">
        
      <h1 style="color: rgb(8, 12, 1)">Student page</h1>
      <button class=sample4 >send Request</button>
     
  <div class="d-flex">
   
</div>


</div>

</nav>

<div class="sample1">
    
        <table class="sample2" >
            <tr>
                <th>List of Requests</th>
                
                <th colspan="2">Action</th>
                
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                
                <td>
                    <button class="btn btn-success" routerLink="/accept">Accept</button></td>
                <td><button class="btn btn-danger">
                    Reject
                </button></td>
                
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>
                    <button class="btn btn-success" >Accept</button></td>
                <td><button class="btn btn-danger">
                    Reject
                </button></td>
               
              </tr>
             
              
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>
                    <a class="btn btn-success">Accept</a></td>
                <td><button class="btn btn-danger">
                    Reject
                </button></td>
                
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>
                    <button class="btn btn-success">Accept</button></td>
                <td><button class="btn btn-danger">
                    Reject
                </button></td>
                
              </tr>
          </table>
      
</div>
