<section class="about container">
    <h1 class="text-center mb-5" >Contact Us</h1>
    <p>Thank you for visiting our website.   </p>
    <p>
Keep in touch if you have any query.    </p>
    <p>
        CONTACT US ON Email : socialnetwork@gmail.com </p>

        <div class="follow text-center">
            <h4>Follow Us</h4>
            <a href="#">Facebook</a> &nbsp;
            <a href="#">Youtube</a>  &nbsp;
            <a href="#">Instagram</a>  &nbsp;
            <a href="#">Twitter</a>  &nbsp;
        </div>

    <div class="follow text-center">
        
    </div>

</section>
