.joinnow
{
    background-color: #eff6ff;
    padding: 70px 100px;
    background: hsla(205, 40%, 30%, 1);
}
.login
{
    background-color: #ffffff;
    padding: 20px 30px;
}

@media screen and (max-width:600px)
{

    .joinnow
{
    padding: 140px 30px;
}
}