<section class="joinnow">
    <div class="login col-lg-4 m-auto shadow-lg">
        <div class="text-center">
            <h1>Register</h1>

        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputPassword1">Full Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Mobile Number</label>
                <input type="number" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Role</label>
                <select type="number" class="form-control" id="exampleInputPassword1">
                    <option value="student">Student</option>
                    <option value="faculty">Faculty</option>
                </select>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control mb-2" id="exampleInputPassword1">
            </div>
            <button type="submit"  class="btn btn-primary mb-2">Submit</button>
          </form>
          <a href="/login">Already register! Click to login</a>

    </div>
</section>
